# Copy this to .env.local and fill in your values
AUTH_URL=http://20.207.122.201/evaluation-service/auth
NOTIFICATIONS_URL=http://20.207.122.201/evaluation-service/notifications
CLIENT_ID=f76626ac-541d-4946-8e89-7dca8a50a3f3
CLIENT_SECRET=zJDZqKqWxTnTUpgC
ACCESS_CODE=QkbpxH
EMAIL=ys7062@srmist.edu.in
NAME=Yash Vardhan Singh Chauhan
ROLL_NO=RA2311033010170
