# Copy this to .env.local and fill in your values
AUTH_URL=http://20.207.122.201/evaluation-service/auth
NOTIFICATIONS_URL=http://20.207.122.201/evaluation-service/notifications
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
ACCESS_CODE=your_access_code
EMAIL=your_email
NAME=your_name
ROLL_NO=your_roll_no
